body {
  font-family: monospace;
}

.jumbotron {
  text-align: center;
  background-color: #FFB6C1;
}

.special {
  color: #FF1493
}

.photo img {
  text-align: center;
  width: 400px;
}

.panel-about {
  background-color: #FFF0F5;
  margin-bottom: 50px;
}

.hobbies {
  list-style-position: inside;
}

.projects {
  float: left;
}

.sidebar {
  height: auto;
  width: 100px;
  text-align: left;
  float: right;
  margin: 20px;
  border: 2px solid pink;
  padding: 4px:
}
