body {
  font-family: monospace;
}

#header2 {
  letter-spacing: 20px;
  text-transform: uppercase;
}

h3 {
  font-size: 48px;
}

.jumbotron {
  margin-top: 10px;
  text-align: center;
  background-color: #FFB6C1;
}

h4 {
  font-size: 28px;
}

.background h4 {
  font-style: italic;
}

.special {
  color: #FF1493
}

.photo img {
  border-radius: 5px;
  text-align: center;
  width: 400px;
}

.panel-about {
  border-radius: 5px;
  background-color: #FFF0F5;
  margin-bottom: 50px;
  padding: 40px;
}

.panel-hobbies {
  border-radius: 5px;
  list-style-position: inside;
  background-color: #FFF0F5;
  padding: 10px;
}

.projects {
  float: left;
  width: 80%;
  padding-bottom: 100px;
}

.sidebar {
  float: right;
  border-radius: 5px;
  width: 20%;
  text-align: left;
  margin-top: 100px;
  border: 2px solid pink;
  padding:10px;

}

.well {
  float:right;
  border-radius: 5px;
  width: 20%;
  text-align: left;
  margin-top: 500px;
  padding:10px;
  background-color: #DB7093;
  color: white;

}

.sidebar, .well {
  float: right;
  clear: right;
}

.author {
  color: #E8E8E8;
}

.bottom {
  border-radius: 5px;
  position:static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFB6C1;
    text-align: center;

}
